<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- Set this file to copy to output dir -->
    <targets>
      <target name="logfile" xsi:type="File" fileName="nlog-${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="Warn" writeTo="logfile" />
    </rules>
</nlog>